$primary-color: #1684C1;
$font-stack: 'Montserrat', sans-serif;
$icon-color: $primary-color;
$active-menu-color: #FF8811;
$inactive-menu-color: #757575;
$inactive-form-color: #B6B6B6;
$text-color: #172A3A;
$secondary-text-color: #757575;
$primary-fg: white;
$active-menu-fg: white;
$button-text-color: white;
$success-bg-color: #b8e986;
$error-bg-color: #b40016;
$lms-primary-color: #20A39E;
$adminColor : rgba(245, 166, 35, 0.25); 
$side-top-color: #1684c1;
